src/test/resources/test-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Minimal XSD used by XmlGeneratorSchemaTest.
  Validates documents of the form:
    <root><row><id>...</id><name>...</name></row></root>
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id"   type="xs:string"/>
              <xs:element name="name" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
